.recruiting-ad {
    display: none;
}

.recruiting-ad.active {
    display: block;
}

.recruiting-ad-desktop,
.recruiting-ad-mobile {
    width: auto;
    height: 28px;
    background-size: contain;
    background-repeat: no-repeat;
}

.ru .recruiting-ad-desktop,
.ru .recruiting-ad-mobile {
    background-image: url(/assets/files/Vacancy-Shield-All.svg);
}

.en .recruiting-ad-desktop,
.en .recruiting-ad-mobile {
    background-image: url(/assets/files/Vacancy-Shield-All-EN.svg);
}

.recruiting-ad-desktop,
.recruiting-ad-desktop.samara,
.recruiting-ad-desktop.saratov {
    width: auto;
    height: 40px;
}

.ru .recruiting-ad-desktop.samara {
    background-image: url(/assets/files/Vacancy-Shield-Samara.svg);
}

.en .recruiting-ad-desktop.samara {
    background-image: url(/assets/files/Vacancy-Shield-Samara-EN.svg);
}

.ru .recruiting-ad-desktop.saratov {
    background-image: url(/assets/files/Vacancy-Shield-Saratov.svg);
}

.en .recruiting-ad-desktop.saratov {
    background-image: url(/assets/files/Vacancy-Shield-Saratov-EN.svg);
}

.ru .recruiting-ad-desktop.kazan {
    background-image: url(/assets/files/Vacancy-Shield-Kazan.svg);
}

.en .recruiting-ad-desktop.kazan {
    background-image: url(/assets/files/Vacancy-Shield-Kazan-EN.svg);
}

.recruiting-ad-mobile {
    position: absolute;
    z-index: 1;
    left: auto;
    top: auto;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    width: 95px;
    margin: -0.4em 0 0 0.05em;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .recruiting-ad-mobile.tablet-desktop-centered {
        -webkit-transform: translate3d(-50%, -100%, 0);
        transform: translate3d(-50%, -100%, 0);
        left: 50%;
    }
}

@media only screen and (max-width: 767px) {
    .recruiting-ad-mobile.phone-centered {
        -webkit-transform: translate3d(-50%, -100%, 0);
        transform: translate3d(-50%, -100%, 0);
        left: 50%;
        background-position-x: center;
    }
}

.recruiting-ad-popup {
    display: none !important;
    padding: 0;
}

.recruiting-ad-popup.active {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.recruiting-ad-popup a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    text-decoration: none;
    color: #fff;
    padding: 1.5em 3em 1.5em 2em;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-radius: 6px;
    border: 2px solid #3583f8;
}

.render-page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.render-page a {
    text-decoration: none;
}

.render-page .header-desktop {
    display: table;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
}

.render-page .header-desktop .wrap-cont {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: none;
    padding: 20px 60px;
}

.render-page .header-desktop ul.social {
    margin: 0 30px 0 auto;
}

.render-page .header-desktop ul.social li {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.render-page .canvas {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.render-page .loader {
    overflow: hidden;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 1;
    pointer-events: none;
}

.render-page .loader-hidden {
    opacity: 0;
}

.render-page .loader svg {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
}

.render-page .content {
    overflow: hidden;
    position: absolute;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.preserve3d .render-page .content {
    -webkit-perspective: 1800px;
    perspective: 1800px;
}

.render-page .container {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.preserve3d .render-page .container {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.render-page .container-feature-job,
.render-page .container-feature-lessons,
.render-page .container-feature-salary,
.render-page .container-feature-students,
.render-page .container-feature-workers {
    z-index: 20;
}

.render-page .certificate,
.render-page .feature,
.render-page .intro,
.render-page .text {
    position: absolute;
    z-index: 1;
}

.render-page .logo {
    width: 234px;
    height: 100px;
}

.logo > img {
    max-width: 100%;
    max-height: 100%;
}

.render-page .intro {
    left: -450px;
    top: -83px;
    width: 900px;
    text-align: center;
}

.render-page .intro h1 {
    font-size: 68px;
    font-weight: 900;
    line-height: 1.06;
    color: #3583f8;
    padding: 0;
}

.render-page .intro h1,
.render-page .intro p {
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    margin: 0;
}

.render-page .intro p {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.85);
    padding: 20px 0 0;
}

.render-page .intro .trust-hint-button {
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.render-page .certificate {
    z-index: 10;
    left: -226px;
    top: -29px;
    width: 450px;
    text-align: center;
}

.render-page .certificate:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: -99px;
    width: 85px;
    height: 75px;
    background-image: url(/assets/files/Planet\ Conquest_512px.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -43px;
}

.render-page .certificate h2 {
    font-size: 38px;
    font-weight: 700;
    line-height: 1.11;
    color: #3583f8;
    padding: 0;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.render-page .certificate h2,
.render-page .certificate p {
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    margin: 0;
}

.render-page .certificate p {
    /* font-family: Roboto; */
    font-size: 20px;
    font-weight: 400;
    line-height: 1.8;
    color: hsla(0, 0%, 100%, 0.7);
    padding: 14px 0 0;
}

.render-page .certificate-waves {
    z-index: 5;
}

.render-page .container.visible .text {
    opacity: 1;
    pointer-events: auto;
}

.render-page .text {
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    pointer-events: none;
}

.render-page .text a {
    display: block;
}

.render-page .text a .hover {
    position: relative;
}

.render-page .text a .hover:after,
.render-page .text a .hover:before {
    content: "";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: absolute;
    z-index: 1;
    width: 10px;
    height: 10px;
    border: 0 solid #3583f8;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.render-page .text a .hover-top:before {
    left: -16px;
    top: -16px;
    border-top-width: 1px;
    border-left-width: 1px;
}

.render-page .text a .hover-top:after {
    right: -16px;
    top: -16px;
    border-top-width: 1px;
    border-right-width: 1px;
}

.render-page .text a .hover-bottom:before {
    left: -16px;
    bottom: -16px;
    border-left-width: 1px;
    border-bottom-width: 1px;
}

.render-page .text a .hover-bottom:after {
    right: -16px;
    bottom: -16px;
    border-right-width: 1px;
    border-bottom-width: 1px;
}

.render-page .text a:active h2,
.render-page .text a:hover h2 {
    color: #fff;
}

.render-page .text a:hover .hover:after,
.render-page .text a:hover .hover:before {
    opacity: 1;
}

.render-page .text h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.07;
    color: #3583f8;
    padding: 0;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.render-page .text h2,
.render-page .text p {
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    margin: 0;
}

.render-page .text p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: hsla(0, 0%, 100%, 0.7);
    padding: 10px 0 0;
}

.render-page .text-astronaut-1 {
    left: 99px;
    top: -13px;
    width: 170px;
}

.render-page .text-astronaut-1 .tooltip {
    margin: 0 0 125px -139px;
    width: 282px;
}

.render-page .text-astronaut-2 {
    left: 120px;
    top: -46px;
    width: 170px;
}

.render-page .text-astronaut-2 .tooltip {
    right: 0;
    margin: 0 0 103px -176px;
    width: 262px;
}

.render-page .text-astronaut-3 {
    left: 122px;
    top: -27px;
    width: 170px;
}

.render-page .text-astronaut-3 .tooltip {
    right: 100%;
    width: 240px;
    margin: 0 80px 100px 0;
}

.render-page .text-business {
    left: -128px;
    top: -82px;
    width: 272px;
}

.render-page .text-history {
    left: -80px;
    top: -58px;
    width: 160px;
}

.render-page .text-lectures {
    left: -105px;
    top: -43px;
    width: 210px;
}

.render-page .text-mobile {
    left: -145px;
    top: -92px;
    width: 302px;
}

.render-page .text-qa {
    left: -133px;
    top: -63px;
    width: 290px;
}

.render-page .text-request {
    left: -148px;
    top: -70px;
    width: 340px;
}

.render-page .text-web {
    left: -136px;
    top: -60px;
    width: 260px;
}

.render-page .container.visible .feature .spacer {
    opacity: 1;
}

.render-page .feature .content {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    left: -92px;
    top: -110px;
    width: 184px;
    height: 220px;
    padding: 30px 26px;
}

.render-page .feature .content h3 {
    font-family: SVN-AmpleSoft;
    text-transform: none;
    font-weight: 500;
    font-size: 16px;
}

.render-page .feature .digits {
    font-size: 68px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: normal;
    color: #3583f8;
    padding-bottom: 4px;
}

.render-page .feature h3 {
    font-weight: 900;
    line-height: 1.29;
    letter-spacing: 0.5px;
    color: #fff;
    text-transform: uppercase;
    padding: 0;
}

.render-page .feature h3,
.render-page .feature p {
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    margin: 0;
}

.render-page .feature p {
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: hsla(0, 0%, 100%, 0.85);
    padding: 10px 0 0;
}

.render-page .feature .container-p {
    padding: 0;
    position: relative;
    z-index: 3;
}

.render-page .feature .opasity {
    opacity: 0;
}

.render-page .feature .spacer {
    position: absolute;
    top: 10px;
    right: 0;
    word-wrap: break-word;
    width: 100%;
    padding: 0;
    opacity: 0;
    -webkit-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.render-page .feature-job .content,
.render-page .feature-salary .content {
    left: -127px;
    top: -79px;
    width: 254px;
    height: 159px;
}

.render-page .feature-job .content {
    padding: 34px 35px;
}

.render-page .feature-salary .content {
    padding: 34px 37px;
}

.render-page .button-request {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.render-page .rotational {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
}

.preserve3d .render-page .rotational {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.render-page .container-intro.inactive {
    pointer-events: none;
}

.render-page .container-intro.inactive .trust-hint-button {
    opacity: 0;
}

.render-page .container-astronaut-1 .rotational,
.render-page .container-astronaut-2 .rotational,
.render-page .container-astronaut-3 .rotational {
    top: -112px;
}

.render-page .container.visible .text-3d {
    -webkit-transform: scale3d(0.85, 0.85, 0.85);
    transform: scale3d(0.85, 0.85, 0.85);
}

.render-page .container.visible .text-3d .close-button,
.render-page .container.visible .text-3d .corners,
.render-page .container.visible .text-3d .icon,
.render-page .container.visible .text-3d .info,
.render-page .container.visible .text-3d:after,
.render-page .container.visible .text-3d:before {
    opacity: 1;
    /* border-width: 10px; */
}

.render-page .container.visible .text-3d .close-button,
.render-page .container.visible .text-3d .info {
    pointer-events: auto;
}

.render-page .text-3d {
    display: block;
    position: absolute;
    z-index: 1;
    padding: 22px 30px;
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.render-page .text-3d.text-3d-shooting-hint:after,
.render-page .text-3d.text-3d-trust-hint:after {
    /* background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(74, 71, 154, 0)),
        to(rgba(74, 71, 154, 0.8))
    );
    background-image: -webkit-linear-gradient(rgba(74, 71, 154, 0), rgba(74, 71, 154, 0.8));
    background-image: -o-linear-gradient(rgba(74, 71, 154, 0), rgba(74, 71, 154, 0.8));
    background-image: linear-gradient(rgba(74, 71, 154, 0), rgba(74, 71, 154, 0.8)); */
    /* border: 1px solid #4a479a */
    background: #000;
}

.render-page .text-3d.text-3d-shooting-hint p,
.render-page .text-3d.text-3d-trust-hint p {
    color: #fff;
}

.render-page .text-3d.text-3d-shooting-hint p {
    white-space: nowrap;
    padding: 0;
}

.render-page .text-3d.text-3d-trust-hint {
    padding: 44px 60px;
}

.render-page .text-3d.text-3d-trust-hint p {
    padding-top: 15px;
}

.preserve3d .render-page .text-3d {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.render-page .text-3d .close-button,
.render-page .text-3d .corners,
.render-page .text-3d .icon,
.render-page .text-3d .info,
.render-page .text-3d:after,
.render-page .text-3d:before {
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    pointer-events: none;
}

.render-page .text-3d:after,
.render-page .text-3d:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
}

.render-page .text-3d:before {
    z-index: 1;
    /* background-image: url(/assets/files/grid-background.png); */
    background-color: rgb(15, 15, 37, 0.9);
    background-size: 10px 10px;
    background-repeat: repeat;
    -webkit-animation-name: text-3d-grid-animation;
    animation-name: text-3d-grid-animation;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.render-page .text-3d:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 2;
    /* background-image: url(/assets/files/gradient-background.png); */
    background-size: 100% 100%;
    background-repeat: repeat-x;
    border: 1px solid #3583f8;
}

.render-page .text-3d-shooting-hint:before,
.render-page .text-3d-trust-hint:before {
    display: none;
}

.render-page .text-3d-trust-hint {
    width: 660px;
}

.render-page .text-3d-business,
.render-page .text-3d-net {
    width: 272px;
}

.render-page .text-3d-faq {
    width: 212px;
}

.render-page .text-3d-history {
    width: 170px;
}

.render-page .text-3d-lectures {
    width: 210px;
}

.render-page .text-3d-mobile {
    width: 302px;
}

.render-page .text-3d-qa {
    width: 290px;
}

.render-page .text-3d-request {
    width: 340px;
}

.render-page .text-3d-web {
    width: 260px;
}

.render-page .text-3d .icon {
    display: table;
    position: absolute;
    z-index: 4;
    left: 30px;
    top: -30px;
    width: 260px;
}

.render-page .text-3d .icon > div {
    display: table-cell;
    vertical-align: middle;
}

.render-page .text-3d .icon > div:first-child {
    width: 40px;
}

.render-page .text-3d .icon > div:last-child {
    padding-left: 10px;
}

.render-page .text-3d .icon img {
    display: block;
    width: 40px;
    height: 40px;
}

.render-page .text-3d .corners {
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.render-page .text-3d .info {
    position: relative;
    z-index: 3;
}

.render-page .text-3d h2 {
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;
    color: #3583f8;
    padding: 0;
    margin: 0;
    -webkit-transition: color 0.3s, opacity 1s;
    -o-transition: color 0.3s, opacity 1s;
    transition: color 0.3s, opacity 1s;
}

.render-page .text-3d .container-p {
    padding: 10px 0 0;
    position: relative;
    z-index: 3;
}

.render-page .text-3d p {
    /* font-family: Roboto; */
    font-family: SVN-AmpleSoft;
    /* font-size: 16px; */
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: hsla(0, 0%, 100%, 0.7);
    padding: 0;
    margin: 0;
}

.render-page .text-3d .opasity {
    opacity: 0;
}

.render-page .text-3d .spacer {
    position: absolute;
    top: 10px;
    right: 0;
    word-wrap: break-word;
    width: 100%;
}

.render-page .text-3d .close-button {
    display: block;
    position: absolute;
    z-index: 4;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.render-page .text-3d .close-button g {
    fill: #fff;
    -webkit-transition: fill 0.3s;
    -o-transition: fill 0.3s;
    transition: fill 0.3s;
}

.no-touchevents .render-page .text-3d .close-button:hover g {
    fill: #3583f8;
}

.no-touchevents .render-page .text-3d:not(.text-3d-trust-hint):hover {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

.no-touchevents .render-page .text-3d:not(.text-3d-trust-hint):hover h2 {
    color: #fff;
}

.no-touchevents .render-page .text-3d-trust-hint:hover h2 {
    color: #3583f8;
}

.preserve3d .render-page .text-3d:before {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
}

.preserve3d .render-page .text-3d .icon {
    -webkit-transform: translateZ(60px);
    transform: translateZ(60px);
}

.preserve3d .render-page .text-3d .corner,
.preserve3d .render-page .text-3d .corners {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
}

.preserve3d .render-page .text-3d .close-button,
.preserve3d .render-page .text-3d .info {
    -webkit-transform: translateZ(40px);
    transform: translateZ(40px);
}

.render-page .container.visible .bubble-3d {
    -webkit-transform: scale3d(0.85, 0.85, 0.85);
    transform: scale3d(0.85, 0.85, 0.85);
}

.render-page .container.visible .bubble-3d .bubble-3d-background,
.render-page .container.visible .bubble-3d .corner,
.render-page .container.visible .bubble-3d .corners,
.render-page .container.visible .bubble-3d .info {
    opacity: 1;
    pointer-events: auto;
}

.render-page .bubble-3d {
    display: block;
    position: absolute;
    z-index: 1;
    left: -104px;
    bottom: 0;
    width: 280px;
    padding: 30px 30px 62px;
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    border: 9px solid rgb(53, 131, 248);
    background: #000;
}

.render-page .bubble-3d[data-tail-position="right"] {
    left: auto;
    right: -104px;
}

.preserve3d .render-page .bubble-3d {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.render-page .bubble-3d .bubble-3d-background,
.render-page .bubble-3d .corner,
.render-page .bubble-3d .corners,
.render-page .bubble-3d .info {
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    pointer-events: none;
}

.render-page .bubble-3d .bubble-3d-background,
.render-page .bubble-3d .corners {
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.render-page .bubble-3d .corners {
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.render-page .bubble-3d .info {
    position: relative;
    z-index: 3;
}

.render-page .bubble-3d p {
    /* font-family: Roboto; */
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: hsla(0, 0%, 100%, 0.7);
    padding: 0;
    margin: 0;
}

.render-page .bubble-3d .opasity {
    opacity: 0;
}

.render-page .bubble-3d .spacer {
    position: absolute;
    top: 0;
    right: 0;
    word-wrap: break-word;
    width: 100%;
}

.preserve3d .render-page .bubble-3d .corner,
.preserve3d .render-page .bubble-3d .corners {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
}

.preserve3d .render-page .bubble-3d .info,
.preserve3d .render-page .bubble-3d .spacer {
    -webkit-transform: translateZ(40px);
    transform: translateZ(40px);
}

.render-page .menu-icon-button-sound {
    width: 120px;
    background-image: url(/assets/files/sound.svg);
    background-size: 30px 60px;
}

.render-page .menu-icon-button-sound .on-text {
    display: none;
}

.render-page .menu-icon-button-sound.on {
    background-position: 0 -30px;
}

.render-page .menu-icon-button-sound.on .on-text {
    display: block;
}

.render-page .menu-icon-button-sound.on .off-text {
    display: none;
}

@-webkit-keyframes text-3d-grid-animation {
    0% {
        background-position: 0 0;
    }

    to {
        background-position: -10px -10px;
    }
}

@keyframes text-3d-grid-animation {
    0% {
        background-position: 0 0;
    }

    to {
        background-position: -10px -10px;
    }
}
