.recruiting-ad {
    display: none;
}

.recruiting-ad.active {
    display: block;
}

.recruiting-ad-desktop,
.recruiting-ad-mobile {
    width: auto;
    height: 28px;
    background-size: contain;
    background-repeat: no-repeat;
}

.ru .recruiting-ad-desktop,
.ru .recruiting-ad-mobile {
    background-image: url(/assets/files/Vacancy-Shield-All.svg);
}

.en .recruiting-ad-desktop,
.en .recruiting-ad-mobile {
    background-image: url(/assets/files/Vacancy-Shield-All-EN.svg);
}

.recruiting-ad-desktop,
.recruiting-ad-desktop.samara,
.recruiting-ad-desktop.saratov {
    width: auto;
    height: 40px;
}

.ru .recruiting-ad-desktop.samara {
    background-image: url(/assets/files/Vacancy-Shield-Samara.svg);
}

.en .recruiting-ad-desktop.samara {
    background-image: url(/assets/files/Vacancy-Shield-Samara-EN.svg);
}

.ru .recruiting-ad-desktop.saratov {
    background-image: url(/assets/files/Vacancy-Shield-Saratov.svg);
}

.en .recruiting-ad-desktop.saratov {
    background-image: url(/assets/files/Vacancy-Shield-Saratov-EN.svg);
}

.ru .recruiting-ad-desktop.kazan {
    background-image: url(/assets/files/Vacancy-Shield-Kazan.svg);
}

.en .recruiting-ad-desktop.kazan {
    background-image: url(/assets/files/Vacancy-Shield-Kazan-EN.svg);
}

.recruiting-ad-mobile {
    position: absolute;
    z-index: 1;
    left: auto;
    top: auto;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    width: 95px;
    margin: -0.4em 0 0 0.05em;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .recruiting-ad-mobile.tablet-desktop-centered {
        -webkit-transform: translate3d(-50%, -100%, 0);
        transform: translate3d(-50%, -100%, 0);
        left: 50%;
    }
}

@media only screen and (max-width: 767px) {
    .recruiting-ad-mobile.phone-centered {
        -webkit-transform: translate3d(-50%, -100%, 0);
        transform: translate3d(-50%, -100%, 0);
        left: 50%;
        background-position-x: center;
    }
}

.recruiting-ad-popup {
    display: none !important;
    padding: 0;
}

.recruiting-ad-popup.active {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.recruiting-ad-popup a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    text-decoration: none;
    color: #fff;
    padding: 1.5em 3em 1.5em 2em;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-radius: 6px;
    border: 2px solid #3583f8;
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

figcaption,
figure,
main {
    display: block;
}

figure {
    margin: 1em 40px;
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: inherit;
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ff0;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

audio,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
    -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details,
menu {
    display: block;
}

summary {
    display: list-item;
}

canvas {
    display: inline-block;
}

[hidden],
template {
    display: none;
}

@font-face {
    font-family: Roboto;
    font-weight: 300;
    font-style: normal;
    src: local("Roboto Light"), local("Roboto-Light"), url(/assets/files/roboto-light.woff2) format("woff2"),
        url(/assets/files/roboto-light.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-weight: 300;
    font-style: italic;
    src: local("Roboto Light Italic"), local("Roboto-LightItalic"),
        url(/assets/files/roboto-lightitalic.woff2) format("woff2"),
        url(/assets/files/roboto-lightitalic.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    src: local("Roboto"), local("Roboto-Regular"), url(/assets/files/roboto-regular.woff2) format("woff2"),
        url(/assets/files/roboto-regular.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-style: italic;
    src: local("Roboto Italic"), local("Roboto-Italic"), url(/assets/files/roboto-italic.woff2) format("woff2"),
        url(/assets/files/roboto-italic.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    src: local("Roboto Medium"), local("Roboto-Medium"), url(/assets/files/roboto-medium.woff2) format("woff2"),
        url(/assets/files/roboto-medium.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-style: italic;
    src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"),
        url(/assets/files/roboto-mediumitalic.woff2) format("woff2"),
        url(/assets/files/roboto-mediumitalic.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    src: local("Roboto Bold"), local("Roboto-Bold"), url(/assets/files/roboto-700.woff2) format("woff2"),
        url(/assets/files/roboto-700.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-weight: 700;
    font-style: italic;
    src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"),
        url(/assets/files/roboto-700italic.woff2) format("woff2"),
        url(/assets/files/roboto-700italic.woff) format("woff");
}

body {
    /* font-family: Gotham A, Gotham B; */
    font-family: SVN-AmpleSoft;
    font-style: normal;
    background: #000;
    font-size: 10px;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

mark {
    background-color: #3583f8;
    color: #000;
}

a {
    color: #306899;
    -webkit-transition: color 0.3s ease;
    -o-transition: color ease 0.3s;
    transition: color 0.3s ease;
}

.no-touchevents a:hover {
    color: #3583f8;
}

a.red-link {
    color: hsla(0, 0%, 100%, 0.8);
    text-decoration: none;
    border-bottom: 1px solid rgba(237, 65, 89, 0.5);
}

a.red-link:active,
a.red-link:hover,
h1 {
    color: #3583f8;
}

h1 {
    /* font-family: Gotham A, Gotham B, Arial, Helvetica, sans-serif; */
    font-family: SVN-AmpleSoft;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.08;
    margin-bottom: 0.54em;
}

@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 58px;
    }
}

@media (max-width: 1024px) and (-o-min-device-pixel-ratio: 2/1),
    (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2),
    (max-width: 1024px) and (min-resolution: 2dppx),
    (max-width: 1024px) and (min-resolution: 192dpi),
    only screen and (max-width: 1024px) and (min-device-pixel-ratio: 2) {
    h1 {
        font-size: 34px;
    }
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 28px;
    }
}

h2 {
    /* font-family: Gotham A, Gotham B, Arial, Helvetica, sans-serif; */
    font-family: SVN-AmpleSoft;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.12;
    color: #3583f8;
    margin-bottom: 0.56em;
}

@media only screen and (max-width: 1024px) {
    h2 {
        font-size: 40px;
    }
}

@media (max-width: 1024px) and (-o-min-device-pixel-ratio: 2/1),
    (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2),
    (max-width: 1024px) and (min-resolution: 2dppx),
    (max-width: 1024px) and (min-resolution: 192dpi),
    only screen and (max-width: 1024px) and (min-device-pixel-ratio: 2) {
    h2 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 767px) {
    h2 {
        font-size: 24px;
    }
}

h3 {
    font-family: Gotham A, Gotham B, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.07;
    color: #3583f8;
    margin-bottom: 0.535em;
}

@media only screen and (max-width: 1024px) {
    h3 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    h3 {
        font-size: 18px;
    }
}

.to-front {
    position: relative;
    z-index: 5;
}

p {
    /* font-family: Roboto; */
    font-family: SVN-AmpleSoft;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.8;
    color: rgba(29, 31, 38, 0.85);
    margin-bottom: 0.9em;
    color: hsla(0, 0%, 100%, 0.8);
    margin-top: 0;
}

@media only screen and (max-width: 767px) {
    p {
        font-size: 16px;
    }
}

p.mark,
p.quote {
    /* font-family: Roboto; */
    font-family: SVN-AmpleSoft;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.67;
    /* color: rgba(29,31,38,.7); */
    /* margin-bottom: .85em; */
    position: relative;
    color: #fff;
    padding: 0 0 0 1.5em;
    margin-left: -1.5em;
    margin-top: 2em;
    margin-bottom: 1.5em;
    background-color: transparent;
}

@media only screen and (max-width: 767px) {
    p.mark,
    p.quote {
        font-size: 18px;
    }
}

p.mark:before,
p.quote:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.5em;
    top: 0.5em;
    width: 0.166666667em;
    background: #3583f8;
}

p.quote {
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 22px;
    line-height: 2.09;
    color: rgba(29, 31, 38, 0.85);
    margin-bottom: 1.05em;
    color: hsla(0, 0%, 100%, 0.85);
}

@media only screen and (max-width: 767px) {
    p.quote {
        font-size: 16px;
    }
}

ul,
ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol.theme,
ul.theme {
    font-family: Roboto;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.33;
    color: rgba(29, 31, 38, 0.85);
}

@media only screen and (max-width: 767px) {
    ol.theme,
    ul.theme {
        font-size: 15px;
    }
}

ol.theme > li,
ul.theme > li {
    position: relative;
    padding-left: 1.17em;
    margin: 0.675em 0;
}

ol.theme > li:last-of-type,
ul.theme > li:last-of-type {
    margin-bottom: 1.4em;
}

ol.theme > li:before,
ul.theme > li:before {
    content: "";
    display: block;
    position: absolute;
    top: 0.675em;
    left: 0.06em;
    width: 0.56em;
    height: 2px;
    background-color: #3583f8;
    margin-top: -1px;
}

ol.theme > li,
ul.theme > li {
    color: #fff;
}

ol.theme > li:before,
ul.theme > li:before {
    background-color: #fff;
}

ol.theme.num,
ul.theme.num {
    padding-left: 1.17em;
}

ol.theme > li {
    padding-left: 0;
}

ol.theme > li:before {
    display: none;
}

.privacy-policy ol.theme {
    counter-reset: item;
    padding: 0;
}

.privacy-policy ol.theme > li {
    padding-left: 1em;
}

.privacy-policy ol.theme > li > ol > li {
    padding-left: 1.8em;
}

.privacy-policy ol.theme > li > ol > li > ol > li {
    padding-left: 2.6em;
}

.privacy-policy ol.theme > li::marker {
    content: none;
}

.privacy-policy ol.theme > li:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
    background: transparent;
    left: 0.06em;
    text-align: right;
    top: 1px;
    display: block;
}

ul.summary {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    color: #fff;
    margin: 0 0 7.6em;
}

@media only screen and (max-width: 767px) {
    ul.summary {
        display: block;
    }
}

@media only screen and (max-width: 1024px) {
    ul.summary {
        margin-bottom: 5em;
        max-width: 50em;
    }
}

ul.summary li {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: block;
    margin: 1.8em 0 0;
}

@media only screen and (max-width: 1024px) {
    ul.summary li {
        width: 25em;
        margin-top: 2.4em;
    }
}

@media only screen and (max-width: 767px) {
    ul.summary li {
        width: 100%;
    }
}

ul.summary li > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.recruiting ul.summary li > div {
    padding-left: 1.2em;
}

@media only screen and (max-width: 1024px) {
    .recruiting ul.summary li > div {
        padding-left: 2em;
    }
}

ul.summary li svg {
    margin-right: 1em;
}

ul.summary li span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

ul.summary li span b {
    font-family: Gotham A, Gotham B, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: rgba(29, 31, 38, 0.85);
    margin-bottom: 0.645em;
    color: #fff;
    margin-bottom: 0.2em;
}

ul.summary li span mark {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #3583f8;
    margin-bottom: 0.625em;
    margin-bottom: 0;
    background: none;
}

ul.summary li.summary_item-up {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

ul.summary li.double-location {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

@media only screen and (max-width: 1024px) {
    ul.summary li.double-location {
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
    }
}

ul.summary li.double-location span {
    max-width: 8em;
}

@media only screen and (max-width: 1024px) {
    ul.summary li.double-location span {
        max-width: none;
    }
}

ul.summary-small {
    margin-top: 3.5em;
}

@media only screen and (max-width: 1024px) {
    ul.summary-small {
        max-width: none;
    }
}

@media only screen and (max-width: 840px) {
    ul.summary-small {
        display: block;
    }
}

.recruiting ul.summary-small li > div {
    padding-left: 0;
}

ul.summary-small li.double-location {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

ul.summary-small li.double-location span {
    max-width: none;
}

ul.social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start;
    margin-left: -1.2em;
}

ul.social li {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 1em 0 0 1.2em;
    padding: 0;
}

ul.social li:before {
    content: none;
}

ul.social li a {
    color: hsla(0, 0%, 100%, 0.6);
    -webkit-transition: color 0.3s ease;
    -o-transition: color ease 0.3s;
    transition: color 0.3s ease;
}

ul.social li a.facebook:hover {
    color: #4267b2;
}

ul.social li a.twitter:hover {
    color: #1da1f2;
}

ul.social li a.vk:hover {
    color: #4a76a8;
}

ol.square,
ol.square li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol.square {
    counter-reset: list;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: -0.5em 0 4em -5%;
    font-family: Roboto;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.33;
    color: #fff;
}

@media only screen and (max-width: 767px) {
    ol.square {
        font-size: 15px;
    }
}

ol.square li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1.5em;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 28.571428533%;
    min-height: 13.555555556em;
    margin: 1.888888889em 0 0 4.7619048%;
    background-image: -webkit-radial-gradient(118% -17%, circle, #113964, #092b4e);
    background-image: -o-radial-gradient(118% -17%, circle, #113964, #092b4e);
    background-image: radial-gradient(circle at 118% -17%, #113964, #092b4e);
    -webkit-box-shadow: 0 1.38889em 2.77778em 0 rgba(12, 22, 43, 0.35);
    box-shadow: 0 1.38889em 2.77778em 0 rgba(12, 22, 43, 0.35);
}

@media (max-width: 640px) {
    ol.square li {
        width: 45.2380952%;
    }
}

@media only screen and (max-width: 480px) {
    ol.square li {
        width: 95.2380952%;
        min-height: 0;
    }
}

ol.square li:before {
    display: block;
    counter-increment: list;
    content: counters(list, ".", decimal-leading-zero) ".";
    font-family: Gotham A, Gotham B, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 68px;
    line-height: 1.06;
    color: #3583f8;
    margin-bottom: 0.53em;
}

@media only screen and (max-width: 1024px) {
    ol.square li:before {
        font-size: 48px;
    }
}

@media only screen and (max-width: 767px) {
    ol.square li:before {
        font-size: 32px;
    }
}

.details {
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.67;
    color: rgba(29, 31, 38, 0.7);
    margin-bottom: 0.85em;
    margin-bottom: 1.5em;
    color: #fff;
}

@media only screen and (max-width: 767px) {
    .details {
        font-size: 18px;
    }
}

.details .summary {
    margin-bottom: 0.3em;
    padding-left: 1.3em;
    outline: none;
    cursor: pointer;
    display: block;
    position: relative;
}

.details .summary .arrow {
    display: inline-block;
    position: absolute;
    left: 0.2em;
    top: 0.5em;
    width: 0.6em;
    height: 0.6em;
    background: url(/assets/files/arrow-right.svg) 50% 50% no-repeat;
    background-size: contain;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform ease-in-out 0.3s;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.details.open .arrow {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.details .content {
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.3s ease-in-out;
    -o-transition: height ease-in-out 0.3s;
    transition: height 0.3s ease-in-out;
}

.details p {
    padding-left: 1.56em;
}

@-webkit-keyframes bounceOutLeft {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(20px, 0, 0);
        transform: translate3d(20px, 0, 0);
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }
}

@keyframes bounceOutLeft {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(20px, 0, 0);
        transform: translate3d(20px, 0, 0);
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }
}

@-webkit-keyframes bounceInRight {
    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes bounceInRight {
    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@-webkit-keyframes grow-flex {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes grow-flex {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

form {
    display: block;
    position: relative;
}

form:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(/assets/files/spinner.svg) 50% 50% transparent no-repeat;
    background-size: auto 100px;
    z-index: -5;
    visibility: hidden;
}

form.sending:after {
    z-index: 5;
    visibility: visible;
}

form .oops {
    margin-top: 2em;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
}

form .oops span {
    font-family: Gotham A, Gotham B, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 52px;
    line-height: 1.19;
    color: rgba(146, 161, 174, 0.25);
    margin-bottom: 0.595em;
    margin-bottom: 0;
    color: #3583f8;
}

@media only screen and (max-width: 1024px) {
    form .oops span {
        font-size: 36px;
    }
}

@media only screen and (max-width: 767px) {
    form .oops span {
        font-size: 24px;
    }
}

form .oops .fail-text {
    font-family: Gotham A, Gotham B, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    color: #3583f8;
    margin-bottom: 0.585em;
    color: #fff;
}

@media only screen and (max-width: 1024px) {
    form .oops .fail-text {
        font-size: 16px;
    }
}

@media only screen and (max-width: 767px) {
    form .oops .fail-text {
        font-size: 12px;
    }
}

form.fail .oops {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-animation: grow-flex 0.3s ease-in-out;
    animation: grow-flex 0.3s ease-in-out;
}

form .step {
    display: none;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

form .step.passed {
    -webkit-animation-name: bounceOutLeft;
    animation-name: bounceOutLeft;
    display: block;
    position: absolute;
    top: 50%;
}

form .step.passed > div {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

form .step.active,
form .step.finish {
    display: block;
}

form .step.active {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
}

form.sending .step {
    opacity: 0.5;
}

form .form-item {
    margin: 2.2em 0 0 -2em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@media only screen and (max-width: 767px) {
    form .form-item {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

form .form-item-hidden {
    visibility: hidden;
    pointer-events: none;
}

form .form-item.actions {
    margin-top: 4em;
}

form .field-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

@media only screen and (max-width: 767px) {
    form .field-item:not(:first-of-type) {
        margin-top: 2.2em;
    }
}

form .field-item .error-text {
    display: none;
    color: #3583f8;
    margin: 0.65em 0 0.75em 2em;
    font-size: 12px;
}

form .field-item .error-text[data-visible="true"] {
    display: unset;
}

form .form-field {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    margin: 0 0 0 2em;
}

@media only screen and (max-width: 767px) {
    form .form-field.submit .button {
        margin-top: 2.2em;
    }
}

form .form-field.phone.required {
    position: relative;
}

form .form-field.phone.required input[name="phone"] {
    padding-left: 2.9em;
    color: #92a1ae;
}

form .form-field.phone.required.white-color-before input[name="phone"] {
    color: #fff;
}

form .form-field.phone.required .field-input {
    position: relative;
}

form .form-field.phone.required .field-input:before {
    position: absolute;
    content: "+7 ";
    font-family: Roboto;
    font-size: 15px;
    line-height: 1.33;
    color: rgba(29, 31, 38, 0.7);
    margin-bottom: 0.665em;
    color: #92a1ae;
    bottom: 0.15em;
    left: 19px;
    font-weight: 300;
}

@media only screen and (max-width: 1024px) {
    form .form-field.phone.required .field-input:before {
        font-size: 12px;
        line-height: 1.67;
        left: 15px;
        bottom: 0.14em;
    }
}

@media only screen and (max-width: 767px) {
    form .form-field.phone.required .field-input:before {
        bottom: 0.1em;
    }
}

form .form-field.phone.required.white-color-before:before {
    color: #fff;
    font-weight: 400;
    bottom: 0.1em;
}

@media only screen and (max-width: 1024px) {
    form .form-field.phone.required.white-color-before:before {
        bottom: 0.15em;
    }
}

form .form-field span {
    display: block;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.57;
    color: rgba(29, 31, 38, 0.7);
    margin-bottom: 0.785em;
    color: #fff;
    margin-bottom: 0.45em;
}

form .form-field.required span:after {
    content: "*";
    color: #3583f8;
    position: absolute;
    margin-left: 0.2em;
}

form .form-field.required.no-star span:after {
    display: none;
}

form .form-field .select-wrap,
form .form-field input[type="text"],
form .form-field select {
    font-family: Roboto;
    font-size: 15px;
    line-height: 1.33;
    color: rgba(29, 31, 38, 0.7);
    margin-bottom: 0.665em;
    margin-bottom: 0;
}

@media only screen and (max-width: 1024px) {
    form .form-field .select-wrap,
    form .form-field input[type="text"],
    form .form-field select {
        font-size: 12px;
        line-height: 1.67;
    }
}

form .form-field input[type="text"],
form .form-field select {
    padding: 0.733333333em 1.066666667em;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    width: 100%;
    border: 1px solid rgba(146, 161, 174, 0.25);
    outline-offset: 0;
    outline: none;
    border-radius: 0.133333333em;
    background-color: rgba(146, 161, 174, 0.1);
}

form .form-field input[type="text"]:focus,
form .form-field select:focus {
    border-color: #326c9e;
    outline: none;
}

form .form-field .select-wrap {
    position: relative;
    color: #fff;
}

form .form-field .select-wrap:before {
    content: "";
    position: absolute;
    width: 0.8em;
    height: 0.8em;
    right: 0;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    margin-right: 1.133333333em;
    z-index: 2;
    pointer-events: none;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48ZyBmaWxsPSIjZmZmZmZmIj48cGF0aCBpZD0iYSIgZD0iTTYgOWEuOTk5Ljk5OSAwIDAgMCAuNzEtLjI5NGwzLjk5Ny0zLjk5NUExLjAwMyAxLjAwMyAwIDAgMCA5LjI5IDMuMjk0TDYgNi41ODIgMi43MSAzLjI5NEExLjAwMiAxLjAwMiAwIDEgMCAxLjI5MyA0LjcxTDUuMjkgOC43MDZBLjk5OS45OTkgMCAwIDAgNiA5eiIvPjwvZz48L2c+PC9zdmc+")
        no-repeat 50% 50%;
    background-size: contain;
    opacity: 0.7;
}

form .form-field.focus .select-wrap:before {
    opacity: 1;
}

form .form-field .select-wrap select {
    padding-right: 2.133333333em;
}

form .form-field select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: unset;
    outline: none;
}

form .form-field select:-moz-focusring {
    outline: none;
    color: transparent;
    text-shadow: 0 0 0 #fff;
}

form .form-field select option {
    background: #172f44;
    outline: none;
}

form .form-field input[type="text"]::-webkit-input-placeholder {
    font-family: Roboto;
    font-size: 15px;
    line-height: 1.33;
    color: rgba(29, 31, 38, 0.7);
    margin-bottom: 0.665em;
    margin-bottom: 0;
    color: #92a1ae;
    opacity: 1;
}

form .form-field input[type="text"]:-ms-input-placeholder,
form .form-field input[type="text"]::-ms-input-placeholder {
    font-family: Roboto;
    font-size: 15px;
    line-height: 1.33;
    color: rgba(29, 31, 38, 0.7);
    margin-bottom: 0.665em;
    margin-bottom: 0;
    color: #92a1ae;
    opacity: 1;
}

form .form-field input[type="text"]::placeholder {
    font-family: Roboto;
    font-size: 15px;
    line-height: 1.33;
    color: rgba(29, 31, 38, 0.7);
    margin-bottom: 0.665em;
    margin-bottom: 0;
    color: #92a1ae;
    opacity: 1;
}

@media only screen and (max-width: 1024px) {
    form .form-field input[type="text"]::-webkit-input-placeholder {
        font-size: 12px;
        line-height: 1.67;
    }

    form .form-field input[type="text"]:-ms-input-placeholder,
    form .form-field input[type="text"]::-ms-input-placeholder {
        font-size: 12px;
        line-height: 1.67;
    }

    form .form-field input[type="text"]::placeholder {
        font-size: 12px;
        line-height: 1.67;
    }
}

form .form-field input[type="checkbox"] {
    display: none;
}

form .form-field input[type="checkbox"] + b {
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.43;
    color: rgba(29, 31, 38, 0.85);
    margin-bottom: 0.715em;
    color: #fff;
    margin-bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

form .form-field input[type="checkbox"] + b:before {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 1.43em;
    height: 1.43em;
    border: 1px solid rgba(146, 161, 174, 0.25);
    background-color: rgba(146, 161, 174, 0.1);
    border-radius: 0.133333333em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    content: " ";
    margin-right: 1em;
}

form .form-field input[type="checkbox"]:checked + b:before {
    border-color: #326c9e;
    content: "\2713";
}

form .form-field.error .field-input:before {
    color: #3583f8 !important;
}

form .form-field.error input[type="text"],
form .form-field.error input[type="text"]::-webkit-input-placeholder,
form .form-field.error select {
    color: #3583f8 !important;
}

form .form-field.error input[type="text"],
form .form-field.error input[type="text"]:-ms-input-placeholder,
form .form-field.error input[type="text"]::-ms-input-placeholder,
form .form-field.error select {
    color: #3583f8 !important;
}

form .form-field.error input[type="text"],
form .form-field.error input[type="text"]::placeholder,
form .form-field.error select {
    color: #3583f8 !important;
}

form .form-field.error input[type="checkbox"] + b:before,
form .form-field.error input[type="text"],
form .form-field.error select {
    border-color: #3583f8;
}

form .form-field.inline {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

form .form-field.squeezed {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

form .form-field .button input[type="submit"] {
    visibility: hidden;
    position: absolute;
}

form .google-form-link {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 4em;
}

@media only screen and (max-width: 767px) {
    form .google-form-link {
        text-align: center;
    }
}

form .google-form-link-container {
    position: relative;
    height: 0;
}

form .google-form-link-hidden {
    display: none;
}

.tooltip {
    position: absolute;
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(146, 161, 174, 0.25);
    bottom: 100%;
    pointer-events: none;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(29, 31, 38, 0.7);
    margin-bottom: 0.75em;
    color: #fff;
    margin: 0;
}

.tooltip.stick-right {
    right: 100%;
}

.tooltip.stick-left {
    left: 0;
}

.tooltip.stick-left:after,
.tooltip.stick-right:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    top: 100%;
}

.tooltip.stick-left:after {
    left: 20%;
    border: 0 solid transparent;
    border-left-color: rgba(146, 161, 174, 0.25);
    border-left-width: 30px;
    border-bottom-width: 20px;
    -webkit-transform: skew(-19deg, 0);
    -ms-transform: skew(-19deg, 0);
    transform: skew(-19deg, 0);
}

.tooltip.stick-right:after {
    right: 20%;
    border: 0 solid transparent;
    border-right-color: rgba(146, 161, 174, 0.25);
    border-right-width: 30px;
    border-bottom-width: 20px;
    -webkit-transform: skew(19deg, 0);
    -ms-transform: skew(19deg, 0);
    transform: skew(19deg, 0);
}

.tooltip .tooltip-close-button {
    display: block;
    position: absolute;
    z-index: 1;
    right: 8px;
    top: 8px;
    width: 24px;
    height: 24px;
    color: #92a1ae;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    cursor: pointer;
}

.no-touchevents .tooltip .tooltip-close-button:hover {
    color: #3583f8;
}

.tooltip .tooltip-close-button svg g {
    fill: currentColor;
}

figure {
    margin: 0;
}

.note {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 50px -12.25% 60px 0;
}

@media only screen and (max-width: 1024px) {
    .note {
        margin-top: 33px;
        margin-bottom: 40px;
    }
}

@media (max-width: 1050px) {
    .note {
        margin-right: 0;
    }
}

@media only screen and (max-width: 767px) {
    .note {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        margin-top: 25px;
        margin-bottom: 30px;
    }
}

.note > * {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

@media only screen and (max-width: 767px) {
    .note > * {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
}

.note > :first-child {
    width: 77.6169265%;
    margin-bottom: 0;
    margin-top: 0;
}

@media only screen and (max-width: 767px) {
    .note > :first-child {
        width: auto;
    }
}

.note > :last-child {
    width: 18.1514477%;
}

@media only screen and (max-width: 767px) {
    .note > :last-child {
        width: auto;
    }
}

.note.quote {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.note.quote > :last-child {
    margin-top: 10px;
}

figure.note.image {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 60px;
}

@media only screen and (max-width: 1024px) {
    figure.note.image {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 767px) {
    figure.note.image {
        margin-top: 30px;
    }
}

figure.note.image img {
    display: block;
    width: 100%;
}

figure.note.image figcaption {
    font-family: Roboto;
    font-size: 15px;
    line-height: 1.33;
    color: rgba(29, 31, 38, 0.7);
    margin-bottom: 0.665em;
    color: hsla(0, 0%, 100%, 0.75);
    margin-top: 10%;
}

@media only screen and (max-width: 1024px) {
    figure.note.image figcaption {
        font-size: 12px;
        line-height: 1.67;
    }
}

@media only screen and (max-width: 767px) {
    figure.note.image figcaption {
        margin-top: 0;
    }
}

figure.social-personal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

figure.social-personal img {
    height: 64px;
    border-radius: 50%;
    margin-bottom: 1.3em;
}

@media only screen and (max-width: 767px) {
    figure.social-personal img {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 767px) {
    figure.social-personal figcaption {
        margin-left: 1.3em;
    }
}

figure.social-personal figcaption .name {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #3583f8;
    margin-bottom: 0.625em;
    margin: 0;
}

figure.social-personal figcaption .description {
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.43;
    color: rgba(29, 31, 38, 0.85);
    margin-bottom: 0.715em;
    color: hsla(0, 0%, 100%, 0.85);
    margin: 0.3em 0 0;
}

.scroll {
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

.perspective {
    -webkit-perspective: 100px;
    perspective: 100px;
}

.perspective-group {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.wrap-cont {
    display: block;
    margin: 0 auto;
    width: 89.375%;
    max-width: 1324px;
}

@media only screen and (max-width: 1024px) {
    .wrap-cont {
        max-width: 800px;
    }
}

@media only screen and (max-width: 767px) {
    .wrap-cont {
        max-width: none;
    }
}

@media only screen and (min-width: 768px) {
    .visible-phone {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .hidden-phone {
        display: none;
    }
}

.request-message {
    display: none;
}

.request-message--visible {
    display: block;
}

.button,
.button-content {
    border-radius: 100px;
    text-decoration: none;
}

.button {
    display: inline-block;
    position: relative;
    -webkit-transition: -webkit-box-shadow 0.15s;
    transition: -webkit-box-shadow 0.15s;
    -o-transition: box-shadow 0.15s;
    transition: box-shadow 0.15s;
    transition: box-shadow 0.15s, -webkit-box-shadow 0.15s;
}

.button:before {
    content: "";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-style: solid;
    border-radius: 100px;
    -webkit-transform: scale3d(0.6, 0.6, 1);
    transform: scale3d(0.6, 0.6, 1);
    opacity: 0;
    -webkit-transition: opacity 0.15s, -webkit-transform 0.15s;
    transition: opacity 0.15s, -webkit-transform 0.15s;
    -o-transition: transform 0.15s, opacity 0.15s;
    transition: transform 0.15s, opacity 0.15s;
    transition: transform 0.15s, opacity 0.15s, -webkit-transform 0.15s;
    pointer-events: none;
}

.form-request--disabled .button {
    opacity: 0.4;
    pointer-events: none;
}

.button-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 84px;
    height: 48px;
    background-clip: padding-box;
    padding: 0 28px;
    border-width: 0;
    border-style: solid;
    -webkit-transition: color 0.15s, background 0.15s, border 0.15s;
    -o-transition: color 0.15s, background 0.15s, border 0.15s;
    transition: color 0.15s, background 0.15s, border 0.15s;
    cursor: pointer;
}

.button-content svg g {
    fill: currentColor;
}

.button-content input {
    width: auto !important;
    min-height: 48px;
    background: none;
    padding: 0 28px !important;
    border: 0;
    margin: 0 -28px;
    outline: 0;
}

.button-layout--icon-text .button-content {
    padding-left: 24px;
}

.button-layout--icon-text .button-content input {
    padding-left: 24px;
    margin-left: -24px;
}

.button-layout--icon-texts .button-content,
.button-layout--icon-texts input {
    padding-left: 24px;
    padding-right: 32px;
}

.button-layout--icon-texts input {
    margin-left: -24px;
    margin-right: -32px;
}

.button-layout--text-icon .button-content,
.button-layout--texts-icon .button-content {
    padding-left: 32px;
    padding-right: 24px;
}

.button-layout--text-icon input,
.button-layout--texts-icon input {
    padding-left: 32px;
    padding-right: 24px;
    margin-left: -32px;
    margin-right: -24px;
}

.button-layout--icon-text .button-content,
.button-layout--icon-texts .button-content,
.button-layout--text-icon .button-content,
.button-layout--texts-icon .button-content {
    min-width: 0;
}

.button-text {
    /* font-family: Gotham A, Gotham B, Arial, Helvetica, sans-serif; */
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    white-space: nowrap;
}

.button-text-small {
    display: block;
    font-size: 0.87em;
}

.button-icon + .button-text,
.button-text + .button-icon {
    margin-left: 12px;
}

.button-transparent {
    color: #92a1ae;
}

.button-transparent .button-content {
    border-width: 1px;
    border-color: transparent;
    margin: -1px;
}

.button-transparent--border-gray {
    color: #92a1ae;
}

.button-transparent--border-gray .button-content {
    border-width: 2px;
    border-color: rgba(146, 161, 174, 0.25);
    margin: -2px;
}

.button-transparent--border-red {
    color: #3583f8;
}

.button-transparent--border-red .button-content {
    border-width: 2px;
    border-color: #3583f8;
    margin: -2px;
}

.button-red {
    color: #fff;
    -webkit-box-shadow: 0 4px 20px 0 rgba(65, 211, 237, 0.4);
    box-shadow: 0 4px 20px 0 rgba(65, 211, 237, 0.4);
}

.button-red .button-content {
    background-color: #3583f8;
}

.button-red--border-red {
    color: #fff;
    background: rgb(30, 102, 209, 0.5);

    box-shadow: 0 4px 20px 0 rgba(78, 134, 236, 0.4);
}
.button-container-start {
    background-image: url(/assets/files/ezgif.com-gif-maker.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0.3rem;
    cursor: pointer;
}
.button-red--border-red:before {
    border-color: #3583f8;
}

/* .button-red--border-red .button-content {

    background-image: url(/assets/files/ezgif.com-gif-maker.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
} */

.button-transparent-red--border-red {
    color: #3583f8;
    -webkit-box-shadow: 0 4px 20px 0 rgba(65, 211, 237, 0.4);
    box-shadow: 0 4px 20px 0 rgba(65, 211, 237, 0.4);
}

.button-transparent-red--border-red:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
}

.button-transparent-red--border-red .button-content {
    background: transparent;
    -webkit-transition: color 0.15s, background 0.3s, border 0.3s;
    -o-transition: color 0.15s, background 0.3s, border 0.3s;
    transition: color 0.15s, background 0.3s, border 0.3s;
}

.button-white {
    color: #3583f8;
    -webkit-box-shadow: 0 4px 20px 0 rgba(29, 31, 38, 0.1);
    box-shadow: 0 4px 20px 0 rgba(29, 31, 38, 0.1);
}

.button-white .button-content {
    background-color: #fff;
    border-width: 1px;
    border-color: transparent;
    margin: -1px;
}

.button-white--border-white {
    color: #3583f8;
    -webkit-box-shadow: 0 4px 20px 0 rgba(29, 31, 38, 0.1);
    box-shadow: 0 4px 20px 0 rgba(29, 31, 38, 0.1);
}

.button-white--border-white:before {
    border-color: #fff;
}

.button-white--border-white .button-content {
    background-color: #fff;
}

.no-touchevents .button:active {
    -webkit-transition: -webkit-box-shadow 30ms;
    transition: -webkit-box-shadow 30ms;
    -o-transition: box-shadow 30ms;
    transition: box-shadow 30ms;
    transition: box-shadow 30ms, -webkit-box-shadow 30ms;
}

.no-touchevents .button:active:before {
    -webkit-transition: opacity 30ms, -webkit-transform 30ms;
    transition: opacity 30ms, -webkit-transform 30ms;
    -o-transition: transform 30ms, opacity 30ms;
    transition: transform 30ms, opacity 30ms;
    transition: transform 30ms, opacity 30ms, -webkit-transform 30ms;
}

.no-touchevents .button-content:active {
    -webkit-transition: color 30ms, background 30ms, border 30ms;
    -o-transition: color 30ms, background 30ms, border 30ms;
    transition: color 30ms, background 30ms, border 30ms;
}

.no-touchevents .button-transparent:hover .button-content {
    background-color: rgba(146, 161, 174, 0.1);
    border-color: rgba(146, 161, 174, 0.25);
}

.no-touchevents .button-transparent:active .button-content {
    background-color: rgba(146, 161, 174, 0.25);
    border-color: rgba(146, 161, 174, 0.6);
}

.no-touchevents .button-transparent--border-gray:active,
.no-touchevents .button-transparent--border-gray:hover {
    color: #3583f8;
}

.no-touchevents .button-transparent--border-gray:active .button-content,
.no-touchevents .button-transparent--border-gray:hover .button-content {
    border-color: #3583f8;
}

.no-touchevents .button-transparent--border-gray:active .button-content {
    background-color: rgba(146, 161, 174, 0.1);
}

.no-touchevents .button-transparent--border-red:active,
.no-touchevents .button-transparent--border-red:hover {
    color: #3583f8;
}

.no-touchevents .button-transparent--border-red:active .button-content,
.no-touchevents .button-transparent--border-red:hover .button-content {
    border-color: #3583f8;
}

.no-touchevents .button-transparent--border-red:hover {
    -webkit-box-shadow: 0 4px 24px 0 rgba(65, 211, 237, 0.4);
    box-shadow: 0 4px 24px 0 rgba(65, 211, 237, 0.4);
}

.no-touchevents .button-transparent--border-red:active {
    -webkit-box-shadow: 0 2px 10px 0 rgba(65, 211, 237, 0.4);
    box-shadow: 0 2px 10px 0 rgba(65, 211, 237, 0.4);
}

.no-touchevents .button-red:active .button-content,
.no-touchevents .button-red:hover .button-content {
    background-color: #3583f8;
}

.no-touchevents .button-red:hover {
    -webkit-box-shadow: 0 4px 24px 0 rgba(65, 211, 237, 0.4);
    box-shadow: 0 4px 24px 0 rgba(65, 211, 237, 0.4);
}

.no-touchevents .button-red:active {
    -webkit-box-shadow: 0 2px 10px 0 rgba(65, 211, 237, 0.4);
    box-shadow: 0 2px 10px 0 rgba(65, 211, 237, 0.4);
}

.no-touchevents .button-red:active .button-content {
    -webkit-box-shadow: 0 0 0 1px rgba(29, 31, 38, 0.25) inset;
    box-shadow: inset 0 0 0 1px rgba(29, 31, 38, 0.25);
}

.no-touchevents .button-red--border-red:active,
.no-touchevents .button-red--border-red:hover {
    color: #3583f8;
}

.no-touchevents .button-red--border-red:active:before,
.no-touchevents .button-red--border-red:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
}

.no-touchevents .button-red--border-red:active .button-content,
.no-touchevents .button-red--border-red:hover .button-content {
    background: transparent;
}

.no-touchevents .button-red--border-red:hover {
    -webkit-box-shadow: 0 4px 24px 0 rgba(65, 211, 237, 0.4);
    box-shadow: 0 4px 24px 0 rgba(65, 211, 237, 0.4);
}

.no-touchevents .button-red--border-red:active {
    -webkit-box-shadow: 0 2px 10px 0 rgba(65, 211, 237, 0.4);
    box-shadow: 0 2px 10px 0 rgba(65, 211, 237, 0.4);
}

.no-touchevents .button-transparent-red--border-red:active,
.no-touchevents .button-transparent-red--border-red:hover {
    color: #fff;
}

.no-touchevents .button-transparent-red--border-red:active:before,
.no-touchevents .button-transparent-red--border-red:hover:before {
    /* -webkit-transform: scale3d(.6, .6, 1);
    transform: scale3d(.6, .6, 1);
    opacity: 0 */
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
}

.no-touchevents .button-transparent-red--border-red:active .button-content,
.no-touchevents .button-transparent-red--border-red:hover .button-content {
    color: #3583f8;
    background: transparent;
}

.no-touchevents .button-transparent-red--border-red:hover {
    -webkit-box-shadow: 0 4px 24px 0 rgba(65, 211, 237, 0.4);
    box-shadow: 0 4px 24px 0 rgba(65, 211, 237, 0.4);
}

.no-touchevents .button-transparent-red--border-red:active {
    -webkit-box-shadow: 0 2px 10px 0 rgba(65, 211, 237, 0.4);
    box-shadow: 0 2px 10px 0 rgba(65, 211, 237, 0.4);
}

.no-touchevents .button-white:hover {
    -webkit-box-shadow: 0 4px 24px 0 rgba(26, 29, 41, 0.2);
    box-shadow: 0 4px 24px 0 rgba(26, 29, 41, 0.2);
}

.no-touchevents .button-white:active {
    color: #3583f8;
    -webkit-box-shadow: 0 2px 10px 0 rgba(137, 162, 184, 0.25);
    box-shadow: 0 2px 10px 0 rgba(137, 162, 184, 0.25);
}

.no-touchevents .button-white:active .button-content {
    border-color: rgba(146, 161, 174, 0.25);
}

.no-touchevents .button-white--border-white:active,
.no-touchevents .button-white--border-white:hover {
    color: #fff;
}

.no-touchevents .button-white--border-white:active:before,
.no-touchevents .button-white--border-white:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
}

.no-touchevents .button-white--border-white:active .button-content,
.no-touchevents .button-white--border-white:hover .button-content {
    background: transparent;
}

.no-touchevents .button-white--border-white:hover {
    -webkit-box-shadow: 0 4px 24px 0 rgba(26, 29, 41, 0.2);
    box-shadow: 0 4px 24px 0 rgba(26, 29, 41, 0.2);
}

.no-touchevents .button-white--border-white:active {
    -webkit-box-shadow: 0 2px 10px 0 rgba(137, 162, 184, 0.25);
    box-shadow: 0 2px 10px 0 rgba(137, 162, 184, 0.25);
}

.menu-icon-button {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    font-family: Gotham A, Gotham B, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 11px;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    background-position: 0 0;
    background-repeat: no-repeat;
    padding: 10px 10px 0 34px;
}

.menu-icon-button-language {
    background-size: 30px 30px;
}

.en .menu-icon-button-language {
    background-image: url(/assets/files/flag-ru.svg);
}

.ru .menu-icon-button-language {
    background-image: url(/assets/files/flag-en.svg);
}

a.menu-icon-button {
    display: block;
    text-decoration: none;
}

a.menu-icon-button:active,
a.menu-icon-button:hover,
a.menu-icon-button:link,
a.menu-icon-button:visited,
ul.social li a.menu-icon-button-language {
    color: #fff;
}

b.bold {
    font-weight: 700;
}

.qa-message {
    font-size: 36px;
}

@media only screen and (max-width: 1024px) {
    .qa-message {
        font-size: 29px;
    }
}

@media only screen and (max-width: 767px) {
    .qa-message {
        font-size: 16px;
    }
}

#business .info-block,
#mobile .info-block,
#net .info-block,
#qa .info-block,
#web .info-block {
    padding-bottom: 0;
}

#business .form-request h1,
#mobile .form-request h1,
#net .form-request h1,
#qa .form-request h1,
#web .form-request h1 {
    display: none;
}

#business .request,
#mobile .request,
#net .request,
#qa .request,
#web .request {
    height: auto;
}
